:root {
  --calculator-width: 1000px;
  --button-height: 50px;
  --output-height: 100px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#output {
  width: var(--calculator-width);
  background-color: black;
  height: var(--output-height);
  text-align: right;
}

#output span {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin-top: 10px;
  /* Span has max width of 15 characters (like having maxlength=15 for html input element. */
  max-width: 40ch;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: var(--calculator-width);
}

#buttons button:not(#clear, #backspace) {
  border: 1px solid black;
  border-radius: 2px;
  width: 25%;
  cursor: pointer;
  height: var(--button-height);
}

#buttons span {
  color: white;
  font-size: 2em;
}

#clear, #backspace {
  width: 50%;
  background-color: white;
  cursor: pointer;
  height: var(--button-height);
}

#clear span, #backspace span {
  color: black;
  height: 30px;
}

.number, .decimal {
  background-color: #FF9500
}

.operation {
  background-color: #505050;
}